@import "tailwindcss";
@source "../../../packages/ui";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
}

body {
  background-color: #f8fafc;
  margin: 0;
  min-height: 100vh;

  /* 强制应用 */
  font-family: "Fredoka", sans-serif;
  /* 粘土风的精髓：字重要稍微粗一点才可爱！ */
  font-weight: 600;
}
